{% extends "tasks/base.html" %}

{% block title %}Add Category - Hangarin{% endblock %}

{% block content %}

<div class="welcome">
    <div>
        <h1>Add Category</h1>
        <p>Create a new task category.</p>
    </div>
</div>

<div class="form-card">

    <form method="post">
        {% csrf_token %}

        {{ form.as_p }}

        <div class="form-buttons">
            <a href="{% url 'category_list' %}" class="cancel-button">
                Cancel
            </a>

            <button type="submit" class="add-button">
                Add Category
            </button>
        </div>

    </form>

</div>

{% endblock %}